[submodule "FraplesSeven/Vendor/glfw"]
	path = FraplesSeven/Vendor/glfw
	url = https://github.com/searcas/glfw
[submodule "FraplesSeven/Vendor/imgui"]
	path = FraplesSeven/Vendor/imgui
	url = https://github.com/searcas/imgui
[submodule "FraplesSeven/Vendor/glm"]
	path = FraplesSeven/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "FraplesSeven/Vendor/ImGuizmo"]
	path = FraplesSeven/Vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "FraplesSeven/Vendor/entt"]
	path = FraplesSeven/Vendor/entt
	url = https://github.com/searcas/entt

