[submodule "FraplesSeven/Vendor/glfw"]
	path = FraplesSeven/Vendor/glfw
	url = https://github.com/searcas/glfw
[submodule "FraplesSeven/Vendor/imgui"]
	path = FraplesSeven/Vendor/imgui
	url = https://github.com/searcas/imgui
[submodule "imgui"]
	path = imgui
	url = https://github.com/searcas/imgui
